<p style="color: green"><%= notice %></p>

<h1>Email marketing categories</h1>

<%= link_to "New email marketing category", new_email_marketing_category_path %>



<div id="email_marketing_categories">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @email_marketing_categories.each do |email_marketing_category| %>
        <tr>
          <td><%= email_marketing_category.name %></td>
          <td>
            <%= link_to "Show", email_marketing_category %> |
            <%= link_to "Edit", edit_email_marketing_category_path(email_marketing_category) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @email_marketing_categories %>
