<div id="<%= dom_id email_template %>">
  <p>
    <strong>Name:</strong>
    <%= email_template.name %>
  </p>

  <p>
    <strong>Email marketing category:</strong>
    <%= email_template.email_marketing_category_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= email_template.status %>
  </p>

  <p>
    <strong>Send date:</strong>
    <%= email_template.send_date %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= email_template.subject %>
  </p>

  
  <p><strong>Content:</strong></p>
  <pre>
    <%= email_template.content %>
  </pre>

</div>
